
.vs/Goldbach/v15/.suo
.vs/Goldbach/v15/Browse.VC.db
.vs/Goldbach/v15/Browse.VC.opendb
.vs/Goldbach/v15/ipch/AutoPCH/523d85de28f894e9/PRIMEMANAGER.ipch
.vs/Goldbach/v15/ipch/AutoPCH/728c4eb15c134a24/PRIMEMANAGER.ipch
.vs/Goldbach/v15/ipch/AutoPCH/9179d2e8c17a45ba/GOLDBACHMANAGER.ipch
.vs/Goldbach/v15/ipch/AutoPCH/b4f9d3318ac784f2/MAIN.ipch
.vs/Goldbach/v15/ipch/AutoPCH/cddb5ae3929e4796/GOLDBACHADMIN.ipch
.vs/Goldbach/v15/ipch/AutoPCH/d946b418b53ab580/GOLDBACHMANAGER.ipch
.vs/Goldbach/v15/ipch/AutoPCH/f58463ca7879ff75/GOLDBACHADMIN.ipch
Goldbach.sln
goldbach.txt
Goldbach/Goldbach.vcxproj
Goldbach/Goldbach.vcxproj.filters
Goldbach/Goldbach.vcxproj.user
Goldbach/x64/Debug/Goldbach.log
Goldbach/x64/Debug/Goldbach.tlog/CL.command.1.tlog
Goldbach/x64/Debug/Goldbach.tlog/CL.read.1.tlog
Goldbach/x64/Debug/Goldbach.tlog/CL.write.1.tlog
Goldbach/x64/Debug/Goldbach.tlog/Goldbach.lastbuildstate
Goldbach/x64/Debug/Goldbach.tlog/link.command.1.tlog
Goldbach/x64/Debug/Goldbach.tlog/link.read.1.tlog
Goldbach/x64/Debug/Goldbach.tlog/link.write.1.tlog
Goldbach/x64/Debug/GoldbachAdmin.obj
Goldbach/x64/Debug/GoldbachManager.obj
Goldbach/x64/Debug/main.obj
Goldbach/x64/Debug/PrimeManager.obj
Goldbach/x64/Debug/vc141.idb
Goldbach/x64/Debug/vc141.pdb
primes.txt
x64/Debug/Goldbach.exe
x64/Debug/Goldbach.ilk
x64/Debug/Goldbach.pdb
